:root {
  --heading-font-family:  'Nunito', sans-serif;
  --webpage-color-scheme:  rgb(240, 176, 145);
  --secondary-color-scheme: #FBF8F3;;
}

h1 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h2 {
   font-family: var(--heading-font-family); 
   text-align: center;
}



.homepage-hero {
  text-align: center;
  padding: 160px 20px;
  background: var(--secondary-color-scheme);
}

.homepage-hero p {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.homepage-hero h1 {
    font-size: 72px;
}

.homepage-hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  color: darkslategrey;
  line-height: 2;
  font-size: 24px;
}

.project-description {
    font-family: var(--heading-font-family);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.content-container {
  padding: 20px 60px;
}

 @media (max-width: 576px) { 
.profile-pic {
display: flex;
 width: auto;
 height: auto;
 justify-content: center;
 }
}

.recipe-navigation {
    display: flex;
    justify-content: center;
}

.recipe-btn {
    display:flex;
    align-items: center;
}

.backdrop {
    background: #FBF8F3;
}

.recipe-btn {
  background-color: var(--webpage-color-scheme);
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.recipe-btn:hover {
  background-color: #fff;
  text-decoration: underline;
}

.recipe-btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .recipe-btn {
    min-width: 120px;
    padding: 0 25px;
  }
}

.contact-box {
    font-family: var(--heading-font-family);
}


